<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383929334656-3t3ueeqqdid7acdka723vgd90g0pl6d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383929334656-3t3ueeqqdid7acdka723vgd90g0pl6d3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>383929334656-127ceup0nfbog8d0t5oo1mkt2v3fp0t4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4XJzs-raO_0jHR_V6khBYt9_PHaduv0U</string>
	<key>GCM_SENDER_ID</key>
	<string>383929334656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.zumy.mil.arnethelper.arnetHelper</string>
	<key>PROJECT_ID</key>
	<string>mil-arnet-helper-ec885</string>
	<key>STORAGE_BUCKET</key>
	<string>mil-arnet-helper-ec885.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383929334656:ios:e89c90c241829282af9f65</string>
</dict>
</plist>